*{
    background-color: rgb(241, 162, 16);
    box-sizing: border-box;
}
/*Container for flexboxes*/
.myflexboxRow{
    display: flex;
}
/* Create four equal entries in myflexbox */
.myflexboxColumn{
    flex:25%;
    padding: 20px;
    width: 25%;
}
/* Media Querry */
@media screen and (max-width: 1200px){
    .myflexboxRow{
        flex-direction: column;
    }
}